@model IEnumerable<MyLittleUrlApp.Models.LittleUrl>


@{
    ViewData["Title"] = "My Little Url";
}

    <h1>My Little Url</h1>
    <hr />

    <h2>The story so far...</h2>

    <div class="well well-lg">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShortUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LongUrl)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongUrl)
                    </td>
                </tr>
                }
            </tbody>
        </table>
        </div>


